/* ========== Общие стили для всей страницы ==========*/

.title,
.subtitle,
.subtitle_small,
.alt-font-family {
	font-family: 'Yeseva One', cursive;
}

.title {
	font-size: calc(22px + 5 * (100vw / 1440));
	line-height: calc(30px + 7 * (100vw / 1440));
	text-transform: uppercase;
}

.subtitle {
	margin: 0 0 13px;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #181818;
}

.subtitle_small {
	margin: 0 0 13px;
	font-size: calc(15px + 3 * (100vw / 1440));
	line-height: calc(21px + 4 * (100vw / 1440));
	color: #363636;
}

.subtitle__icon {
	width: 112px;
	margin: 0 auto 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.subtitle__icon::before,
.subtitle__icon::after {
	content: "";
	width: 32px;
	height: 1.5px;
	margin: -1px 0 0 0;
	position: absolute;
	top: 50%;
	border-radius: 30px;
	background-color: #E3B873;
}

.subtitle__icon::before {
	left: 0;
}

.subtitle__icon::after {
	right: 0;
}

.btn {
	background-color: #e3b873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	color: #ffffff;
	transition: 0.3s linear;
	max-width: 340px;
}

.btn:hover {
	background-color: #d8ae69;
	transition: background-color 0.3s linear;
}

.btn:active {
	background-color: #ebb764;
	transition: background-color 0.3s linear;
}

.form__block {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 231px;
}

.form__label {
	font-size: 13px;
	transform: rotate(-0.07deg);
}

.form__input-field {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	line-height: 23px;
}

.form__input-field::placeholder {
	opacity: 0.9;
}

.form__block::before {
	content: "";
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: -4px;
	background-color: rgba(54, 54, 54, 0.3);
	transition: 0.3s linear;
}

.form__block:hover:before {
	background-color: rgba(54, 54, 54, 0.5);
	transition: 0.3s linear;
}

.form__btn {
	width: 200px;
	height: 51px;
	line-height: 51px;
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
}

.checkbox__wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	column-gap: 8.5px;
	font-size: 14px;
	line-height: 23px;
	cursor: pointer;
}

.checkbox__mark {
	display: none;
}

.checkbox__fake {
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	background: #E3B873;
	border-radius: 1px;
}

.checkbox__fake::before {
	content: "\2714";
	opacity: 0;
	transition: 0.2s;
}

.checkbox__mark:checked+.checkbox__fake::before {
	opacity: 1;
}

.img-adaptive {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.home::after,
.poster::before,
.team__content::before,
.contacts__content::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.7);
}

.slider-arrows {
	display: none;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	margin: -18px 0 0 0;
	padding: 0 13px;
}

.slider-arrows__arrow {
	width: 36px;
	height: 36px;
	position: relative;
	border-radius: 50%;
	background-color: #E3B873;
	cursor: pointer;
}

.slider-arrows__arrow img {
	width: 8px;
	height: 12px;
	margin: -6px 0 0 -6px;
	position: absolute;
	top: 50%;
	left: 50%;
}

.slider-arrows__arrow_right img {
	margin: -6px 0 0 -2px;
}

/* ====== Основные блоки страницы header, main, footer ====== */

/* Оболочка */
.wrapper {
	display: grid;
	grid-template-rows: 1fr minmax(133px, auto);
	align-content: space-between;
	min-height: 100%;
	color: #ffffff;
	background: linear-gradient(0deg, rgba(252, 252, 252, 0), rgba(252, 252, 252, 0));
	font-family: 'Nunito Sans', sans-serif;
}

.container {
	max-width: 1276px;
	margin: 0 auto;
	padding: 0 10px;
}

.header,
.footer {
	display: grid;
	grid-template-columns: minmax(auto, 1256px);
	justify-content: center;
	align-content: center;
	padding: 0px 10px;
}

.header {
	width: 100%;
	min-height: 83px;
	padding-top: 5px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: #131313;
}

.footer {
	background-color: #181818;
}

.main-menu__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
}

.main-menu__logo {
	margin-right: 120px;
}

.main-menu__navigation {
	margin-right: 95px;
}

.main-menu__links {
	display: flex;
	column-gap: 54px;
}

.main-menu__link {
	display: inline-block;
	transition: 0.3s linear;
}

.main-menu__contacts {
	display: flex;
	align-items: center;
	column-gap: 45px;
}

.main-menu__logo,
.main-menu__contacts-link,
.main-menu__link:hover {
	color: #E3B873;
	transition: 0.3s linear;
}

.main-menu__logo:hover,
.main-menu__contacts-link:hover {
	color: #d8ae69;
	transition: 0.3s linear;
}

.main-menu__logo:active,
.main-menu__contacts-link:active,
.main-menu__link:active {
	color: #ebb764;
	transition: 0.3s linear;
}

.main-menu__contacts-link:hover {
	text-decoration: underline;
}

.main-menu__contacts-button {
	width: 161px;
	height: 37px;
	line-height: 37px;
	font-style: italic;
}

/* ====== Основной контент ====== */

/* === Cекция 'Приветствие (home)' === */
.home {
	padding: 83px 0 0 0;
	position: relative;
	z-index: 1;
	background: url(../img/start_page_background.webp) center 83px/cover no-repeat #C4C4C4;
}

.home__content {
	max-width: 515px;
	padding: 194px 0 226px;
	margin: 0 0 0 42px;
}

.home__title {
	margin: 0 0 15px;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
}

.home__title span {
	color: #E3B873;
}

.home__text {
	margin: 0 0 25px;
	font-size: 22px;
	line-height: 36px;
}

.home__buttons {
	display: flex;
	gap: 20px;
}

.home__btn {
	width: 207px;
	height: 51px;
	line-height: 51px;
	font-style: italic;
}

.home__btn_alt {
	background-color: unset;
	box-shadow: unset;
	border: 1px solid #ffffff;
}

.home__btn_alt:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

/* === Cекция 'Проекты' === */
.projects {
	min-height: 1054px;
	background-color: #131313;
}

.projects__content {
	padding: 86px 43px 90px;
}

.projects__titles {
	margin: 0 56px 53px 0;
	display: flex;
	column-gap: 60.5px;
	justify-content: flex-end;
}

.projects__title {
	position: relative;
	font-size: 14px;
	line-height: 19px;
	color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
	transition: color 0.3s linear;
}

.projects__title:hover {
	color: #E3B873;
	transition: color 0.3s linear;
}

.projects__title::after {
	content: "";
	width: 0%;
	height: 1px;
	position: absolute;
	bottom: -8px;
	left: 0;
	background-color: #E3B873;
	transition: width 0.5s linear, background-color 0.3s linear;
}

.projects__title:hover::after {
	width: 100%;
	background-color: #d6a75b;
	transition: width 0.5s linear, background-color 0.3s linear;
}

.projects__description {
	max-width: 442px;
}

.projects__description-title {
	margin: -3px 0 25px;
	font-size: 27px;
	line-height: 37.5px;
	letter-spacing: -0.07em;
	color: #E3B873;
}

.projects__description-text {
	margin: 0 0 48px;
	font-size: 14px;
	line-height: 27px
}

.about-project__content {
	align-self: start;
	display: grid;
	grid-template-columns: minmax(auto, 160px) auto;
	grid-template-rows: repeat(2, auto);
	max-width: 360px;
	column-gap: 39px;
	row-gap: 31px;
}

.about-project__container {
	display: grid;
	column-gap: 50px;
	grid-template-columns: minmax(auto, 442px) minmax(auto, 680px);
}

.about-project__title {
	margin: 0 0 8px;
	text-transform: uppercase;
	color: #E3B873;
}

.about-project__text {
	font-size: 13px;
	line-height: 21px;
}

.about-project__slider {
	margin: -225px 0 0 0;
	width: 680px;
	height: 482px;
	position: relative;
}

.about-project__image {
	position: relative;
	width: 100%;
	height: 100%;
}

.about-project__image_2 {
	display: none;
}

.about-project__menu {
	display: flex;
	align-content: center;
	column-gap: 30px;
	position: relative;
	top: -13.28px;
}

.about-project__menu-elem img {
	cursor: pointer;
	width: 41px;
	height: 13.28px;
}

.about-project__menu-bullets {
	display: flex;
	column-gap: 17.5px;
	justify-content: center;
}

.about-project__menu-bullet {
	width: 9.57px;
	height: 9.57px;
	background-color: #ffffff;
	opacity: 0.3;
	border-radius: 50%;
	cursor: pointer;
	transition: opacity 0.3s linear;
}

.about-project__menu-bullet:hover {
	opacity: 1;
	transition: opacity 0.7s linear;
}

/* Секция "Онлайн контроль проектов" */
.projects-control {
	margin: -324px 0 140px;
}

.projects-control__title {
	margin: 0 0 11px;
	color: #ffffff;
}

.projects-control__title-icon img {
	width: 42px;
	height: 37px;
}

.poster {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 90px;
	width: 817px;
	height: 434px;
	position: relative;
}

.poster::after {
	content: "";
	margin: 0 0 0 -27.5px;
	width: 55px;
	height: 1.54px;
	position: absolute;
	bottom: -62.5px;
	left: 50%;
	background-color: #E3B873;
	border-radius: 30px;
}

.poster::before {
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
}

.poster__image-button {
	width: 85px;
	height: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	cursor: pointer;
	background-color: #E3B873;
	border-radius: 50%;
	transition: 0.3s linear;
}

.poster__image-button:hover {
	background-color: #d6a75b;
	transition: 0.3s linear;
}

.poster__image-triangle {
	width: 28px;
	height: 28px;
}

.poster__image-triangle img {
	width: 100%;
	height: 100%;
}

.projects-control__text {
	max-width: 680px;
	margin: 0 auto 78px;
	color: #363636;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
}

.projects-control__form {
	max-width: 770px;
	margin: 0 auto;
}

.projects-control__form .form__btn {
	margin-left: -8px;
}

.projects-control__form .form__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 57px;
	margin: 0 0 35px;
}

.projects-control__form .form__input-field,
.projects-control__form .checkbox .checkbox__text {
	color: #181818;
}

.projects-control__form .form__label {
	color: rgba(54, 54, 54, 0.5);
}

/* === Секция "Виды ремонта" === */
.measurement {
	margin: 0 0 130px;
	color: #363636;
}

.measurement__title-icon {
	margin: 0 auto 32px;
}

.measurement__title-icon img {
	width: 28px;
	height: 28px;
}

.repair-types {
	margin: 0 0 125px;
	color: #959595
}

.repair-types__cards {
	display: flex;
	gap: 30px;
	justify-content: center;
}

.repair-card {
	flex: 0 1 392px;
	max-width: 392px;
}

.repair-card__image {
	max-width: 100%;
	height: 421px;
	position: relative;
	z-index: -1;
	background-color: #C4C4C4;
}

.repair-card__content {
	max-width: 330px;
	margin: -127px 31px 0;
	padding: 23px 30px 0px 34px;
	background-color: #ffffff;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.repair-card__title {
	margin: 0 0 16px;
	color: #363636;
}

.repair-card__list {
	padding: 0 0 51px;
	list-style-type: disc;
}

.repair-card__item {
	margin: 0 0 13px 10px;
	font-size: 13px;
	line-height: 1;
	color: #959595;
}

.repair-card__item:last-child {
	margin: 0 0 0 10px;
}

.repair-card__text {
	width: 228px;
	height: 54px;
	margin: -27px 0 0 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #E3B873;
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.measurement-request {
	padding: 90px 0px 0 0px;
	background: url(../img/measurement-request-background.webp) no-repeat;
}

.measurement-request__content {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	margin: 0 0 7.5px;
	padding: 15px 9.5px 30px 0;
}

.measurement-request__list {
	max-width: 625px;
	display: flex;
	flex-direction: column;
	row-gap: 86px;
	padding: 3px 72px 0 148px;
}

.measurement-request__item {
	display: flex;
	align-items: center;
	column-gap: 9px;
}

.measurement-request__item-circle {
	min-width: 57.5px;
	height: 57.5px;
	border-radius: 50%;
	font-size: 18px;
	line-height: 42px;
	text-align: center;
	color: #ffffff;
	background-color: #E3B873;
	border: 8px solid #ffffff;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.measurement-request__item-text {
	font-size: 14px;
	line-height: 19px;
	color: #363636;
}

.measurement-request__form {
	min-height: 509px;
	min-width: 506px;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	padding: 28px 49px;
	background: #131313;
	box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
	color: #ffffff;
}

.measurement-request__form .form__text {
	margin: 0 0 35px;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}

.measurement-request__form .form__body {
	display: flex;
	flex-direction: column;
	row-gap: 55px;
	margin: 0 0 20px;
}

.measurement-request__form .form__block {
	width: 100%;
}

.measurement-request__form .form__block:last-child {
	margin: 0;
}

.measurement-request__form .form__label {
	color: rgba(255, 255, 255, 0.5);
	margin: 0 0 2px;
}

.measurement-request__form .form__input-field {
	background-color: unset;
	color: #ffffff;
}

.measurement-request__form .checkbox {
	margin: 0 0 33px;
}

.measurement-request__form .checkbox__wrapper {
	justify-content: flex-start;
}

.measurement-request__form .form__checkbox .checkbox__text {
	color: #ffffff;
	text-align: left;
}

.measurement-request__form .form__btn {
	width: 213px;
	align-self: flex-end;
}

.advantages {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 25px;
	margin: 0 172px 0 0;
}

.advantages__logo {
	width: 72px;
	height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #E3B873;
}

.advantages__logo img {
	width: 40px;
	height: 33px;
}

.advantages__text {
	font-size: 18px;
	line-height: 26px;
	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

/* === Секция "О нас (наша команда)" === */
.team {
	padding: 113px 0 41px;
	margin: 0 0 58px;
	color: #ffffff;
}

.team__content {
	height: 864px;
	position: relative;
	z-index: 1;
	background: url(../img/team-background.webp) center/cover no-repeat;
}

.team__content::before {
	background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.team .container {
	display: grid;
	grid-template-columns: minmax(355px, auto) auto;
	column-gap: 135px;
}

.services {
	padding: 134px 0 97px 7px;
}

.services__title {
	margin: 0 0 37px;
	color: #E3B873;
}

.services__item {
	margin: 0 0 11.5px;
	font-size: 20px;
	line-height: 38px;
}

.services__link {
	position: relative;
	transition: color 0.5s linear;
}

.services__link:hover {
	color: #e3b873d4;
	transition: color 1s linear;
}

.services__link::before {
	content: "";
	width: 0%;
	height: 0.66px;
	position: absolute;
	bottom: -2px;
	left: 0;
	opacity: 0;
	background-color: #E3B873;
	transition: opacity 0.5s linear, width 0.3s linear 0.2s;
}

.services__link:hover::before {
	width: 100%;
	opacity: 1;
	transition: opacity 0.5s linear, width 0.3s linear 0.2s;
}

.gallery {
	margin: -113px 0 0 0;
}

.gallery__images {
	display: grid;
	grid-template-columns: repeat(2, auto);
	column-gap: 43px;
	position: relative;
}

.gallery__images-left-column {
	margin: 72px 0 0;
}

.gallery__image {
	position: relative;
	width: 354px;
}

.gallery__image_1 {
	height: 557px;
	margin: 0 0 40px;
}

.gallery__image_2 {
	height: 275px;
	margin: 0 0 40px;
}

.gallery__image_3 {
	height: 350px;
}

.gallery__image_4 {
	height: 625px;
}

/* === Секция "Отзывы о нас" === */

.reviews {
	color: #959595;
	margin: 0 0 143px;
}

.reviews .subtitle__icon img {
	width: 33.72px;
	height: 28px;
}

.reviews__text {
	margin: 0 0 39px;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	color: #363636;
}

.reviews__content {
	margin: 0 5px 0 11px;
	display: flex;
	justify-content: space-between;
	column-gap: 54px;
}

.feedback {
	flex: 0 1 376px;
	padding: 24px 35px 0 21px;
}

.about-user {
	display: flex;
	align-items: center;
	column-gap: 23px;
	margin: 0 0 19px;
}

.about-user__photo {
	min-width: 76px;
	min-height: 76px;
	position: relative;
	border-radius: 50%;
}

.about-user__title {
	margin: 0;
	line-height: 23px;
}

.feedback__text-block {
	margin: 0 0 70px;
	font-size: 13px;
	line-height: 23px;
	color: #959595;
}

.feedback__text-block p {
	margin: 0 0 8px;
}

.work-result {
	max-width: 293.75px;
	min-height: 54px;
	display: flex;
	margin: -27px 0 0 -21px;
	background: #E3B873;
	color: #ffffff;
}

.work-result__column {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 15px;
	box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
	border-right: 0.75px solid #ffffff;
}

.work-result__column_left {
	flex: 0 1 135px;
}

.work-result__column_right {
	flex: 1 1 auto;
}

.work-result__column:last-child {
	border: none;
}

.work-result__image img {
	width: 32.77px;
	height: 31.33px;
}

.work-result__text {
	font-family: 'Yeseva One', cursive;
	font-size: 17px;
	line-height: 23.56px;
	text-transform: uppercase;
}

/* === Секция "Наши контакты" === */

.contacts__content {
	padding: 271px 0 66px;
	position: relative;
	z-index: 1;
	background: url(../img/contacts-background.webp) center/cover no-repeat #181818;
}

.contacts__content::after {
	background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.contacts__form {
	max-width: 883px;
	min-height: 446px;
	margin: 0 auto -223px;
	padding: 33px 10px;
	position: relative;
	left: 10px;
	z-index: 2;
	background-color: #181818;
	color: #ffffff;
}

.contacts__form .form__wrapper {
	max-width: 520px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacts__form .form__title {
	margin: 0 0 46px;
	color: #ffffff;
}

.contacts__form .form__body {
	margin: 0 0 53px;
	display: grid;
	grid-template-columns: repeat(2, minmax(231px, auto));
	grid-template-rows: 1fr 1fr;
	column-gap: 58px;
	row-gap: 49px;
}

.contacts__form .form__block:last-child {
	grid-column: span 2;
}

.contacts__form .form__label {
	color: rgba(255, 255, 255, 0.5);
}

.contacts__form .form__input-field {
	background-color: unset;
	color: #ffffff;
}

.contacts__form .form__block::before {
	content: "";
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: -4px;
	background-color: rgba(255, 255, 255, 0.15);
	transition: 0.3s linear;
}

.contacts__form .form__block:hover:before {
	background-color: rgba(255, 255, 255, 0.3);
	transition: 0.3s linear;
}

.contacts__form .checkbox {
	width: 100%;
	margin: 0 auto 46px;
}

.contacts__form .checkbox .checkbox__text {
	color: #ffffff;
}

.contacts__info {
	margin: 0 0 23px;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #E3B873;
}

.contacts__social {
	margin: 0 auto 43px;
}

.contacts__icons {
	display: flex;
	justify-content: center;
	column-gap: 15px;
}

.contacts__icons-item-icon {
	width: 28px;
	height: 28px;
}

.contacts__image {
	width: 925px;
	height: 465px;
	margin: 0 auto;
	position: relative;
	filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
}